<?xml version="1.0" encoding="UTF-8"?>
    <web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Proyecto medioambiental de la Universidad de Zaragoza</description>
    <display-name>RadTree</display-name>
    <!-- ================ Servlets ================ -->
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>sistinfo.capamodelo.servlets.RegistrarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>sistinfo.capamodelo.servlets.IniciarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>sistinfo.capamodelo.servlets.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>sistinfo.capamodelo.servlets.ModificarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearNoticia</servlet-name>
        <servlet-class>sistinfo.capamodelo.servlets.CrearNoticiaServlet</servlet-class>
	</servlet>
    <servlet>
        <display-name>CrearPregunta Name</display-name>
        <servlet-name>CrearPregunta</servlet-name>
        <servlet-class>sistinfo.capamodelo.servlets.CrearPreguntaServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>CrearReto</servlet-name>
        <servlet-class>sistinfo.capamodelo.servlets.CrearRetoServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>EnviarComentario</servlet-name>
        <servlet-class>sistinfo.capamodelo.servlets.EnviarComentarioServlet</servlet-class>
	</servlet>
    <!-- ============ Servlets Mapping======= -->
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
	    <servlet-name>CrearNoticia</servlet-name>
		<url-pattern>/CrearNoticia.do</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
	    <servlet-name>CrearPregunta</servlet-name>
		<url-pattern>/CrearPregunta.do</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
	    <servlet-name>CrearReto</servlet-name>
		<url-pattern>/CrearReto.do</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarComentario</servlet-name>
		<url-pattern>/EnviarComentario.do</url-pattern>
	</servlet-mapping>
    <!-- ============ Welcome page ========= -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>