<?xml version="1.0" encoding="UTF-8"?>
    <web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Proyecto medioambiental de la Universidad de Zaragoza</description>
    <display-name>RadTree</display-name>
	<!-- ================ Mapeo JSP =============== -->
	<!-- === Usuarios === -->
	<servlet>
	    <servlet-name>Registro</servlet-name>
	    <jsp-file>/registro.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Registro</servlet-name>
	    <url-pattern>/registrar</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>InicioSesion</servlet-name>
	    <jsp-file>/inicioSesion.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>InicioSesion</servlet-name>
	    <url-pattern>/iniciar-sesion</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>Perfil</servlet-name>
	    <jsp-file>/perfil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Perfil</servlet-name>
	    <url-pattern>/perfil</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>EditarPerfil</servlet-name>
	    <jsp-file>/editarPerfil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>EditarPerfil</servlet-name>
	    <url-pattern>/perfil/editar</url-pattern>
	</servlet-mapping>
	<!-- === Contenido === -->
	<servlet>
	    <servlet-name>ListaNoticias</servlet-name>
	    <jsp-file>/listaDeNoticias.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ListaNoticias</servlet-name>
	    <url-pattern>/noticias</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>Noticia</servlet-name>
	    <jsp-file>/noticia.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Noticia</servlet-name>
	    <url-pattern>/noticias/ver</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ListaPreguntas</servlet-name>
	    <jsp-file>/listaDePreguntas.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ListaPreguntas</servlet-name>
	    <url-pattern>/preguntas</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>Pregunta</servlet-name>
	    <jsp-file>/pregunta.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Pregunta</servlet-name>
	    <url-pattern>/preguntas/ver</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ListaRetos</servlet-name>
	    <jsp-file>/listaDeRetos.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ListaRetos</servlet-name>
	    <url-pattern>/retos</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>Reto</servlet-name>
	    <jsp-file>/reto.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Reto</servlet-name>
	    <url-pattern>/retos/ver</url-pattern>
	</servlet-mapping>
	<!-- === Varios === -->
	<servlet>
	    <servlet-name>QuienesSomos</servlet-name>
	    <jsp-file>/quienesSomos.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>QuienesSomos</servlet-name>
	    <url-pattern>/quienes-somos</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>Clasificacion</servlet-name>
	    <jsp-file>/clasificacion.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Clasificacion</servlet-name>
	    <url-pattern>/clasificacion</url-pattern>
	</servlet-mapping>
	<!-- === Gestión contenido === -->
	<servlet>
	    <servlet-name>GestionContenido</servlet-name>
	    <jsp-file>/gestionContenido.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>GestionContenido</servlet-name>
	    <url-pattern>/gestion-contenido</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ColaValidacion</servlet-name>
	    <jsp-file>/colaValidacion.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ColaValidacion</servlet-name>
	    <url-pattern>/gestion-contenido/cola-validacion</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>CreacionNoticia</servlet-name>
	    <jsp-file>/crearNoticia.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>CreacionNoticia</servlet-name>
	    <url-pattern>/gestion-contenido/crear-noticia</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>CreacionPregunta</servlet-name>
	    <jsp-file>/crearPregunta.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>CreacionPregunta</servlet-name>
	    <url-pattern>/gestion-contenido/crear-pregunta</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>CreacionReto</servlet-name>
	    <jsp-file>/crearReto.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>CreacionReto</servlet-name>
	    <url-pattern>/gestion-contenido/crear-reto</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>EdicionNoticia</servlet-name>
	    <jsp-file>/editarNoticia.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>EdicionNoticia</servlet-name>
	    <url-pattern>/gestion-contenido/editar-noticia</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>EdicionPregunta</servlet-name>
	    <jsp-file>/editarPregunta.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>EdicionPregunta</servlet-name>
	    <url-pattern>/gestion-contenido/editar-pregunta</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>EdicionReto</servlet-name>
	    <jsp-file>/editarReto.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>EdicionReto</servlet-name>
	    <url-pattern>/gestion-contenido/editar-reto</url-pattern>
	</servlet-mapping>
	<!-- === Error interno === -->
	<servlet>
	    <servlet-name>ErrorInterno</servlet-name>
	    <jsp-file>/errorInterno.html</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ErrorInterno</servlet-name>
	    <url-pattern>/error-interno</url-pattern>
	</servlet-mapping>
    <!-- ================ Filtros ================ -->
    <!-- RedirectPerfilUsuarioLogueado: Para evitar que un usuario logueado acceda a páginas de usuarios no registrados -->
    <filter>
		<filter-name>RedirectPerfilUsuarioLogueado</filter-name>
		<filter-class>sistinfo.filters.usuario.RedirectPerfilUsuarioLogueadoFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RedirectPerfilUsuarioLogueado</filter-name>
		<url-pattern>/registrar</url-pattern>
		<url-pattern>/iniciar-sesion</url-pattern>
	</filter-mapping>
    <!-- ObtenerUsuarioPerfil: Obtiene un usuario para mostrar en el perfil -->
    <filter>
		<filter-name>ObtenerUsuarioPerfil</filter-name>
		<filter-class>sistinfo.filters.usuario.ObtenerUsuarioPerfilFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObtenerUsuarioPerfil</filter-name>
		<url-pattern>/perfil</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
    <!-- UsuarioParticipante: Se asegura de que haya un usuario logueado -->
    <filter>
		<filter-name>UsuarioParticipante</filter-name>
		<filter-class>sistinfo.filters.usuario.UsuarioParticipanteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UsuarioParticipante</filter-name>
		<url-pattern>/perfil/editar</url-pattern>
	</filter-mapping>
    <!-- UsuarioCreador: Se asegura de que haya un usuario logueado y que sea creador o administador -->
    <filter>
		<filter-name>UsuarioCreador</filter-name>
		<filter-class>sistinfo.filters.usuario.UsuarioCreadorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UsuarioCreador</filter-name>
		<url-pattern>/gestion-contenido</url-pattern>
		<url-pattern>/gestion-contenido/crear-noticia</url-pattern>
		<url-pattern>/gestion-contenido/crear-pregunta</url-pattern>
		<url-pattern>/gestion-contenido/crear-reto</url-pattern>
		<url-pattern>/gestion-contenido/editar-noticia</url-pattern>
		<url-pattern>/gestion-contenido/editar-pregunta</url-pattern>
		<url-pattern>/gestion-contenido/editar-reto</url-pattern>
	</filter-mapping>
    <!-- UsuarioParticipante: Se asegura de que haya un usuario logueado y que sea administrador -->
    <filter>
		<filter-name>UsuarioAdministrador</filter-name>
		<filter-class>sistinfo.filters.usuario.UsuarioAdministradorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UsuarioAdministrador</filter-name>
		<url-pattern>/gestion-contenido/cola-validacion</url-pattern>
	</filter-mapping>
    <!-- IncrementarVisitas: Incrementa en 1 las visitas a un contenido -->
    <filter>
		<filter-name>IncrementarVisitas</filter-name>
		<filter-class>sistinfo.filters.contenido.IncrementarVisitasFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IncrementarVisitas</filter-name>
		<url-pattern>/noticias/ver</url-pattern>
		<url-pattern>/preguntas/ver</url-pattern>
		<url-pattern>/retos/ver</url-pattern>
	</filter-mapping>
    <!-- ListaUltimasNoticias: Genera una lista con las últimas noticias -->
    <filter>
		<filter-name>ListaUltimasNoticias</filter-name>
		<filter-class>sistinfo.filters.contenido.ListaNoticiasFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ListaUltimasNoticias</filter-name>
		<url-pattern>/noticias</url-pattern>
	</filter-mapping>
    <!-- CargarNoticia: Carga un reto según el parámetro de ID pasado -->
    <filter>
		<filter-name>CargarNoticia</filter-name>
		<filter-class>sistinfo.filters.contenido.CargarNoticiaFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CargarNoticia</filter-name>
		<url-pattern>/noticias/ver</url-pattern>
		<url-pattern>/gestion-contenido/editar-noticia</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
    <!-- ListaUltimasPreguntas: Genera una lista con las últimas preguntas -->
    <filter>
		<filter-name>ListaUltimasPreguntas</filter-name>
		<filter-class>sistinfo.filters.contenido.ListaPreguntasFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ListaUltimasPreguntas</filter-name>
		<url-pattern>/preguntas</url-pattern>
	</filter-mapping>
    <!-- CargarPregunta: Carga una pregunta y sus respuestas según el parámetro de ID pasado
    <filter>
		<filter-name>CargarPregunta</filter-name>
		<filter-class>sistinfo.filters.contenido.CargarPreguntaFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CargarPregunta</filter-name>
		<url-pattern>/preguntas/ver</url-pattern>
		<url-pattern>/gestion-contenido/editar-pregunta</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>-->
    <!-- ListaUltimosRetos: Genera una lista con los últimos retos -->
    <filter>
		<filter-name>ListaUltimosRetos</filter-name>
		<filter-class>sistinfo.filters.contenido.ListaRetosFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ListaUltimosRetos</filter-name>
		<url-pattern>/retos</url-pattern>
	</filter-mapping>
    <!-- CargarReto: Carga un reto según el parámetro de ID pasado -->
    <filter>
		<filter-name>CargarReto</filter-name>
		<filter-class>sistinfo.filters.contenido.CargarRetoFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CargarReto</filter-name>
		<url-pattern>/retos/ver</url-pattern>
		<url-pattern>/gestion-contenido/editar-reto</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
    <!-- CargarComentarios: Carga los comentarios de un contenido -->
    <filter>
		<filter-name>CargarComentarios</filter-name>
		<filter-class>sistinfo.filters.contenido.CargarComentariosFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CargarComentarios</filter-name>
		<url-pattern>/noticias/ver</url-pattern>
		<url-pattern>/preguntas/ver</url-pattern>
		<url-pattern>/retos/ver</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
    <!-- GenerarClasificacion: Devuelve la clasificacion de usuarios por puntos -->
    <filter>
		<filter-name>GenerarClasificacion</filter-name>
		<filter-class>sistinfo.filters.usuario.GenerarClasificacionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GenerarClasificacion</filter-name>
		<url-pattern>/clasificacion</url-pattern>
	</filter-mapping>
    <!-- NumeroColaValidacion: Devuelve los elementos de la cola de validacion -->
    <filter>
		<filter-name>NumeroColaValidacion</filter-name>
		<filter-class>sistinfo.filters.contenido.NumeroColaValidacionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NumeroColaValidacion</filter-name>
		<url-pattern>/gestion-contenido</url-pattern>
		<url-pattern>/gestion-contenido/cola-validacion</url-pattern>
	</filter-mapping>
    <!-- ListarMiContenido: Devuelve una lista con el contenido no borrado subido por el usuario -->
    <filter>
		<filter-name>ListarMiContenido</filter-name>
		<filter-class>sistinfo.filters.contenido.ListarMiContenidoFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ListarMiContenido</filter-name>
		<url-pattern>/gestion-contenido</url-pattern>
	</filter-mapping>
    <!-- ElementoColaValidacion: Devuelve los elementos de la cola de validacion -->
    <filter>
		<filter-name>ElementoColaValidacion</filter-name>
		<filter-class>sistinfo.filters.contenido.ElementoColaValidacionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ElementoColaValidacion</filter-name>
		<url-pattern>/gestion-contenido/cola-validacion</url-pattern>
	</filter-mapping>
    <!-- ================ Servlets usuario ================ -->
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>sistinfo.servlets.usuario.RegistrarUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/registrar/registro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>sistinfo.servlets.usuario.IniciarSesionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/iniciar-sesion/inicio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>sistinfo.servlets.usuario.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/perfil/cerrar-sesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>sistinfo.servlets.usuario.EditarUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/perfil/editar-usuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>sistinfo.servlets.usuario.EliminarUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/perfil/eliminar</url-pattern>
    </servlet-mapping>
    <!-- ============ Servlets Contenido ============ -->
    <servlet>
        <servlet-name>EnviarComentario</servlet-name>
        <servlet-class>sistinfo.servlets.contenido.EnviarComentarioServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>EnviarComentario</servlet-name>
		<url-pattern>/noticias/comentar</url-pattern>
		<url-pattern>/preguntas/comentar</url-pattern>
		<url-pattern>/retos/comentar</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>CrearNoticia</servlet-name>
        <servlet-class>sistinfo.servlets.contenido.CrearNoticiaServlet</servlet-class>
	</servlet>
    <servlet-mapping>
	    <servlet-name>CrearNoticia</servlet-name>
		<url-pattern>/gestion-contenido/crear-noticia/crear</url-pattern>
		<url-pattern>/gestion-contenido/editar-noticia/editar</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>CrearPregunta</servlet-name>
        <servlet-class>sistinfo.servlets.contenido.CrearPreguntaServlet</servlet-class>
	</servlet>
    <servlet-mapping>
	    <servlet-name>CrearPregunta</servlet-name>
		<url-pattern>/gestion-contenido/crear-pregunta/crear</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>CrearReto</servlet-name>
        <servlet-class>sistinfo.servlets.contenido.CrearRetoServlet</servlet-class>
	</servlet>
    <servlet-mapping>
	    <servlet-name>CrearReto</servlet-name>
		<url-pattern>/gestion-contenido/crear-reto/crear</url-pattern>
		<url-pattern>/gestion-contenido/editar-reto/editar</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>ValidarContenido</servlet-name>
        <servlet-class>sistinfo.servlets.contenido.ValidarContenidoServlet</servlet-class>
	</servlet>
    <servlet-mapping>
	    <servlet-name>ValidarContenido</servlet-name>
		<url-pattern>/gestion-contenido/cola-validacion/validar</url-pattern>
	</servlet-mapping>
    <!-- ============ Welcome page ========= -->
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
